apiVersion: v1
kind: Service
metadata:
  name: minio
  namespace: big-data-storage
spec:
  clusterIP: None
  selector:
    app: minio
  ports:
    - port: 9000
      name: api
    - port: 9001
      name: console
