apiVersion: apps/v1
kind: Deployment
metadata:
  name: spark-worker
  namespace: spark
spec:
  replicas: 2
  selector:
    matchLabels:
      app: spark-worker
  template:
    metadata:
      labels:
        app: spark-worker
    spec:
      containers:
        - name: spark-worker
          image: apache/spark:3.5.2
          args:
            [
              "/bin/sh",
              "-c",
              "/opt/spark/bin/spark-class org.apache.spark.deploy.worker.Worker spark://spark-master-service:7077",
            ]
          ports:
            - containerPort: 8081 # Web UI cá»§a worker
