apiVersion: v1
kind: Service
metadata:
  name: mongo-express
  namespace: mongodb
spec:
  externalTrafficPolicy: Cluster
  internalTrafficPolicy: Cluster
  ipFamilies:
    - IPv4
  ipFamilyPolicy: SingleStack
  ports:
    - nodePort: 30001
      port: 8081
      protocol: TCP
      targetPort: 8081
  selector:
    app: mongo-express
  sessionAffinity: None
  type: NodePort
