version: "3.8"

services:
  kafka:
    image: confluentinc/cp-kafka:7.5.0
    container_name: kafka
    ports:
      - "9092:9092"
    environment:
      KAFKA_NODE_ID: 1
      KAFKA_PROCESS_ROLES: "broker,controller"
      KAFKA_LISTENERS: PLAINTEXT://0.0.0.0:9092,CONTROLLER://0.0.0.0:9093
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://localhost:9092
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: CONTROLLER:PLAINTEXT,PLAINTEXT:PLAINTEXT
      KAFKA_CONTROLLER_QUORUM_VOTERS: "1@kafka:9093"
      KAFKA_CONTROLLER_LISTENER_NAMES: CONTROLLER
      KAFKA_LOG_DIRS: "/var/lib/kafka/data"
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
      KAFKA_TRANSACTION_STATE_LOG_MIN_ISR: 1
      KAFKA_TRANSACTION_STATE_LOG_REPLICATION_FACTOR: 1

      CLUSTER_ID: "5L6g3nShT-eMCtK--X86sw"

    volumes:
      - kafka_data:/var/lib/kafka/data

  spark:
    image: apache/spark:3.4.1
    container_name: spark
    user: root
    depends_on:
      - kafka
      - mongodb
    environment:
      SPARK_MASTER_HOST: spark
      SPARK_MASTER_PORT: 7077
    ports:
      - "8080:8080"
      - "7077:7077"
    volumes:
      - .:/app
    working_dir: /app
    command: ["/bin/bash", "-c", "while true; do sleep 1000; done"]

  mongodb:
    image: mongo:latest
    container_name: mongodb
    ports:
      - "27017:27017"
    environment:
      MONGO_INITDB_DATABASE: bigdata_project
    volumes:
      - mongo_data:/data/db

volumes:
  kafka_data:
  mongo_data:
